* {
    margin: 0;
    padding: 0;
  }
  html{
      scroll-behavior: smooth;
  }
  @font-face {
    font-family: firstFont;
    src: url(../fonts/Roboto-Regular.ttf);
  }
  @font-face {
    font-family:secondFont;
    src: url(../fonts/Roboto-Light.ttf);
  }
  
  body{
      font-family: secondFont;
  }
  .head {
    background-color: #fd9644;
    width: 100%;
    height: 600px;
    
    /* -webkit-clip-path: polygon(50% 0%, 81% 0, 100% 0, 100% 100%, 77% 84%, 50% 100%, 20% 90%, 0 100%, 0 0, 18% 0); */
            /* clip-path: polygon(50% 0%, 81% 0, 100% 0, 100% 100%, 77% 84%, 50% 100%, 20% 90%, 0 100%, 0 0, 18% 0); */
  }
  nav{
      font-family: firstFont;
  }
  
  .scrollToTop{
    position: fixed; 
	bottom: 20px; 
	right: 20px; 
	text-decoration: none; 
	color: #fff; 
	background: #151f28; 
    padding: 10px 15px; 
    border-radius: 50%;
	/* display: none;  */

}
.scrollToTop:hover{
    color: #151f28; 
	background: #fff;
}

.quets{
    margin: 150px 0 0 0;
    font-family: secondFont;
    /* text-align: center; */
}
.menu{
    margin-top: -60px;
    width: 100%;
    height: auto;
    background-color: #fff;
    -webkit-clip-path:polygon(49% 0, 73% 10%, 100% 0, 100% 100%, 0 100%, 0 0, 21% 8%);
    clip-path: polygon(49% 0, 73% 10%, 100% 0, 100% 100%, 0 100%, 0 0, 21% 8%);
}
    .oMenu{
        text-align: center;
        margin: 100px 0 0 0;
    font-family: secondFont;
    color: #1e272e;
}
.juice-cat-one{
    width: 100%; height: auto;
    overflow: hidden;
    font-family: secondFont;
}
.mtop{
    margin-top: 80px;
}
.about{
    background-color: #eee;
    margin-top: 20px;
    font-family: secondFont;
}
.oabout{
    margin: 100px 0 0 50px;

}
.about p{
    font-family: secondFont;
}
.about-hero{
    margin-top: 100px;
}
.contact{
    
    margin-top: 20px;
    font-family: secondFont;
}
.ftext{
    font-family: secondFont;
}
.oabout1{
    margin: 60px 0 0 50px;

}



@media only screen and (max-width: 768px) {
    .head{
        height: 450px;
    }
    .quets{
        margin: 60px 0 0 0;
    }
    .mtop{
        margin-top: 50px;
    }
    .htexth{
        font-size: 14px;
    }
    .htexts{
        font-size: 11px;
    }
    .oabout{
        margin: 60px 0 0 50px;
    
    }
    .oabout1{
        margin: 60px 0 0 50px;
    
    }
    
    .about,p{
        font-size: 12px;
    }
    .ftext{
        font-size: 12px;
       
    }
}

@media only screen and (max-width: 425px){
    .head{
        height: 350px;
    }
    .fruit img{
        display: none;
    }
    .quets{
        margin: 20px 0 0 0;
    }
    .menu{
        clip-path: none;
    }
    .oMenu{
        margin-top: 50px;
    }
    .mtop{
        margin-top: 50px;
    }
    .fruit1 img{
        display: none;
    }
    .fruit1{
        margin-top: -920px;
    }
    .oabout{
        margin: 40px 0 0 0px;
    }
    .about p{
        padding: 15px;
    }
    .about-hero{
        margin-top: 40px;
    }
    .oabout1{
        margin: 40px 0 0 150px;
        text-align: center;
    }
}